<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/mealInfo-styles.css">
    <script src="https://kit.fontawesome.com/ff67ff0440.js" crossorigin="anonymous"></script>
    <title>Current Meal</title>
</head>
<body>
    <div class="wrapper">
        <%- include('./partials/nav.ejs') %>
        <div class="meal-header">
            <picture class="left">
                <source media="(min-width: 600px)" srcset="">
                <source media="(min-width: 601px)" srcset="">
                <img aria-hidden="true" decoding="async" src="<%= mealData.image %>" alt="picture of meal" width="500" height="500">
            </picture>
            <div class="right">
                <h2><%= mealData.recipeName %></h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero, dolorem? Rerum ad sed aut praesentium totam quam quas, velit ab id, doloribus animi labore laborum repellat officia unde corporis quaerat, consequuntur quidem consectetur. Assumenda, sint nisi. Eum sint illo porro.</p>
                <span><i class="fa-solid fa-earth-americas"></i><%= mealData.cuisineStyle %></span>
                <span><i class="fa-solid fa-hourglass"></i><%= mealData.cookingTime %> minutes</span>
            </div>
        </div>
        
        <div class="main-content">
            <!-- Recipie Information -->
            <div class="left-box">   
                <h3>Ingredients</h3>
                <ul>
                    <% for(let i =0; i< mealData.ingredients.length;i++) { %>
                        <li><%= mealData.ingredients[i].ammount%><%= mealData.ingredients[i].unit%> <%=mealData.ingredients[i].item %></li>
                    <% } %>
                </ul>
            </div>
            <div class="right-box">
                <h3>Cooking Instructions</h3>
                <ul>
                    <% for(let i =0; i< mealData.instructions.length;i++) { %>
                        <li><span><%= i +1 %>. </span><%= mealData.instructions[i]%></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>