<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/recipies-styles.css">
    <script src="https://kit.fontawesome.com/ff67ff0440.js" crossorigin="anonymous"></script>
    <title>Recipies</title>
</head>
<header>
    <a href="/auth/logout">Logout</a>
</header>
<body>
    <h1>Hi, <%= username %>, Choose some meals</h1>
    <div class="wrapper">
        <%- include('./partials/nav.ejs') %>
        <div class="meals-wrapper">
            <% for(let i =0; i< recipies.length;i++) { %>
                <div class="meal-container">
                    <div class="meal-image" style='background:url(<%= recipies[i].image %>) center no-repeat'></div>
                    <div class="meal-info">
                        <h2><%= recipies[i].recipeName %></h2>
                        <p><i class="fa-solid fa-mortar-pestle"></i> <%= recipies[i].cuisineStyle %></p>
                        <p><i class="fa-solid fa-hourglass"></i> <%= recipies[i].cookingTime%> minutes</p>
                        <a href='/recipes/mealInfo/<%= recipies[i]._id %>' class="btn"><i class="fa-solid fa-circle-info"></i> More Information</a>
                        <form action="/shoppingList/addMeal/<%=recipies[i]._id %>" method="POST">
                            <button href="submit" class="btn"><i class="fa-solid fa-circle-plus"></i> Add</button>
                        </form>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

  
</body>
</html>
