<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipies</title>
</head>
<body>
    <h1>Hi, <%= username %>, Choose some meals</h1>

    <% for(let i =0; i< recipies.length;i++) { %>
    <div class="div">
        <h1><%= recipies[i].recipeName %></h1>
        <h3><%= recipies[i].cuisineStyle %></h3>
        <span>Cooking Time <%= recipies[i].cookingTime%> minutes</span>
        <a href='/recipies/_id'>More Information</a>
        <form action="/shoppingList/addMeal/<%=recipies[i]._id %>" method="POST">
            <button type="submit">Add</button>
        </form>
    </div>

   <% } %>

    <a href="/recipes/addRecipe">Create meal</a>
    <a href="/shoppingList"><%= username %>'s Shopping List</a>
</body>
</html>
