<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/recipies-styles.css">
    <script src="https://kit.fontawesome.com/ff67ff0440.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selected Meals</title>
</head>
<body>
    <h1>Meals the user has chosen will go here so they can find them quick and then remove them once done with that meal</h1>
    <div class="wrapper">
        <%- include('./partials/nav.ejs') %>
            <div class="meals-wrapper">
                <% for(let i =0; i< recipies.length;i++) { %>
                    <div class="meal-container">
                        <picture data-time="<%= recipies[i].cookingTime%>">
                            <img aria-hidden="true" loading="lazy" decoding="async" src="<%= recipies[i].image %>" alt="meal picture" width="250" height="250">
                        </picture>
    
                        <div class="meal-info">
                            <h2><%= recipies[i].recipeName %></h2>
                            <form action="/shoppingList/addMeal/<%=recipies[i]._id %>" method="POST">
                                <a href='/recipes/mealInfo/<%= recipies[i]._id %>' class="btn"><i class="fa-solid fa-circle-info"></i> More Information</a>
                                <a href='#' data-id="<%= recipies[i]._id %>" class="btn del"><i class="fa-solid fa-trash-can"></i>Delete</a>
                            </form>
                        </div>
                    </div>       
                <% } %>
            </div>
    </div>
    <script src="/js/selectedMeals.js"></script>
</body>
</html>