<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/list-styles.css">
    <script src="https://kit.fontawesome.com/ff67ff0440.js" crossorigin="anonymous"></script>
    <title>Shopping List</title>
</head>
<body>
    <div class="wrapper">
        <%- include('./partials/nav.ejs') %>
        <header>
            <h1><%= username %>'s Shopping List</h1>
            <p>Once the shopping's done the yummyiness begins!</p>
        </header>
        <% if(hasMeals && items.length < 1) { %>
        <!-- User has picked meals and has no remaining shopping items -->
            <div class="redirect-container">
                <i class="fa-solid fa-fire-burner"></i>
                <p>Looks like the shopping is all done, lets get cooking!</p>
                <a href="/recipes/selectedMeals" class="btn large">My Meals</a>
            </div>
        <% } else if(!hasMeals && items.length < 1) { %>
            <div class="redirect-container">
                <i class="fa-solid fa-book-open"></i>
                <p>You'll need to pick some meals before hitting the shops! Browse our scrumptious recipies now.</p>
                <a href="/recipes" class="btn large">All Recipies</a>
            </div>
        <% } %>
        <div class="list-container">
            <ul>
                <% for(let i =0; i< items.length;i++) { %>
                <li class='shoppingItem' data-id='<%=items[i]._id%>' >
                    <!-- <img src="<%= items[i].image %>" alt=""> -->
                <div class="itemContainer" data-id='<%=items[i]._id%>'>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="<%= items[i].image %>" alt="<%= items[i].ingredient %>" width="75" height="75">
                    </picture>
                    <span class="<%= items[i].done === true ? 'completed' : 'not' %>">
                        <p class="item"><%= items[i].ingredient %><span class="ammount"><%= items[i].ammount %></span><span class="unit"><%=items[i].unit%></span>
                        </p>
                    </span>
                </div>
                        <i class=" del fa-solid fa-trash-can"></i>
                </li>
                <% } %>
            </ul>
            <% if(items.length >0) { %>
                <button class="del-all btn"><i class="fa-solid fa-dumpster"></i>Delete All List Items</button>
            <% } %>
        </div>
    </div>
    <script src="/main.js"></script>
</body>
</html>