<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Shopping List</title>
</head>
<header>
    <a href="/auth/logout">Logout</a>
</header>
<body>
    <h1><%= username %>'s Shopping List</h1>
    <ul>
        <% for(let i =0; i< items.length;i++) { %>
            <li class='shoppingItem' data-id='<%=items[i]._id%>'>
                <span class='<%= items[i].done === true ? 'completed' : 'not'%>'><%= items[i].ammount %><%=items[i].unit%> <%= items[i].ingredient %></span>
                <span class="del"> Delete</span>
           </li>
        <% } %>
    </ul>
    <a href="/recipes">All Meals</a>
    <button class="del-all">Delete All List Items</button>
    <script src="/main.js"></script>
</body>
</html>